<p-toast position="top-right"></p-toast>

<div fxLayout="column" fxLayoutGap="10%">
    <div fxLayoutAlign="center">
        <h3>Dados de Entrega</h3>
    </div>
    <div
        fxLayout="row"
        fxLayoutGap="8%"
        fxLayout.xs="column"
        fxLayoutGap.xs="10%"
        fxLayoutAlign="center"
    >
        <div fxFlex.xl="40%" fxFlex.lg="40%" fxLayoutAlign="center">
            <div>
                <div style="margin-top: 4%">
                    <app-selected-freight-option-component
                        id="cep"
                        type="cep"
                        [submitted]="submitted"
                        (validCep)="addCepAddress($event)"
                        [selected]="selectedFreight"
                        (onRowSelect)="setSelectedFreight($event)"
                    ></app-selected-freight-option-component>
                </div>
                <div>
                    <small
                        id="cep-help"
                        class="p-error blo"
                        *ngIf="submitted && !isSelectedFreight"
                        >Selecione uma opção de entrega.</small
                    >
                </div>
            </div>
        </div>

        <div fxFlex.xl="50%" fxFlex.lg="55%">
            <app-address-form
                [submitted]="submitted"
                [newAddress]="address"
                (addressFormEvent)="setAddressFormIsValid($event)"
            ></app-address-form>
        </div>
    </div>
    <div fxLayoutAlign="end">
        <div>
            <button
                icon="pi pi-check"
                type="submit"
                class="p-button"
                styleClass="next-step-button"
                (click)="onSubmitAddress()"
            >
                <i class="icon-next-step pi pi-angle-right"></i>
            </button>
        </div>
    </div>
</div>
