<p-toast position="top-right"></p-toast>
<div fxLayout="column" fxLayoutGap="10%">
    <div fxLayoutAlign="center">
        <h3>Cadastro de cartão</h3>
    </div>
    <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center center"
        fxLayoutGap.xs="10%"
    >
        <div fxFlex.xl="42%" fxFlex.lg="40%" fxFlex.sm="40%" fxFlex.xs="40%">
            <div fxLayout="column" fxLayoutGap="8%">
                <div>
                    <app-credit-card-form
                        [creditCard]="creditCard"
                        (focusedEvent)="focusedInput($event)"
                        [submitted]="submitted"
                        (isValidFormEvent)="setCreditCardFormIsValid($event)"
                    ></app-credit-card-form>
                </div>
                <div>
                    <div>
                        <label for="cpf" class="block">CPF</label>
                    </div>
                    <div>
                        <p-inputMask
                            id="cpf"
                            type="cpf"
                            class="cc-cpf-input"
                            autocomplete="cpf"
                            mask="999.999.999-99"
                            placeholder="000.000.000-00"
                            [(ngModel)]="cpf"
                            (ngModelChange)="validCPF()"
                        ></p-inputMask>
                    </div>
                    <div>
                        <small
                            id="cc-cpf-help"
                            class="p-error blo"
                            *ngIf="submitted && !isValidCPF"
                            >CPF inválido.</small
                        >
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="35%" fxLayout="column" fxLayoutAlign="start">
            <div>
                <app-credit-card
                    [name]="creditCard.name"
                    [number]="creditCard.number"
                    [expiry]="creditCard.expiry"
                    [cvc]="creditCard.cvc"
                    [focused]="focused"
                    (type)="onTypeCardFound($event)"
                ></app-credit-card>
            </div>
        </div>
    </div>
    <div fxLayoutAlign="end" style="margin-right: 15%">
        <button
            icon="pi pi-check"
            type="submit"
            class="p-button"
            styleClass="next-step-button"
            (click)="onSubmitCreditCard()"
        >
            <i class="icon-next-step pi pi-angle-right"></i>
        </button>
    </div>
</div>
