:host ::ng-deep {
    .cc-cvc-input input{
        width: 64px;
    }
    .cc-expired-input input{
        width: 75px;
    }
    .cc-number-input input{
        width: 188px;
    }
    .cc-name-input{
        width: 88%;
    }
    .cc-cpf-input input{
        width: 145px
    }
    .p-error{
        position: absolute;
    }
}
