<div fxLayoutAlign="center center" class="register-client-page">
    <div
        class="card"
        style="padding: 5%"
        fxFlex.xl="20%"
        fxFlex.lg="38%"
        fxFlex.sm="65%"
        fxFlex.xs="80%"
        fxLayout="column"
        fxLayoutGap="20%"
    >
        <div fxLayoutAlign="center"><h3>Crie sua conta</h3></div>
        <div fxLayoutGap="5%" fxFlex="80%" class="card-register-client">
            <app-register-client-form
                (client)="setNewClientData($event)"
            ></app-register-client-form>
        </div>
        <div>
            <p-messages></p-messages>
        </div>
    </div>
</div>
