<div fxLayoutAlign="center center" class="verification-code-page">
    <div
        class="card"
        style="padding: 5%"
        fxFlex.xl="20%"
        fxFlex.lg="38%"
        fxFlex.sm="65%"
        fxFlex.xs="80%"
        fxLayout="column"
        fxLayoutGap="10%"
    >
        <div fxLayoutAlign="center"><h3>Verificação de e-mail</h3></div>
        <div fxLayout="column" fxLayoutGap="10%">
            <p>Código de verificação enviado para:</p>
            <p fxLayoutAlign="center">
                <strong>{{ client.email }}</strong>
            </p>
            <p>Verifique sua caixa de e-mail ou spam</p>
        </div>
        <div
            fxLayoutGap="10%"
            fxFlex="100%"
            fxLayout="column"
            fxLayoutAlign="center center"
        >
            <div>
                <input
                    [(ngModel)]="code"
                    class="code-input"
                    maxlength="6"
                    pInputText
                />
            </div>
            <div class="code-input">
                <button
                    pButton
                    type="submit"
                    label="Verificar"
                    styleClass="buy-button"
                    (click)="verifyUserCode()"
                ></button>
            </div>
            <div>
                <p-messages></p-messages>
            </div>
            <div>
                <p>
                    <a class="resend-code" (click)="resendVerificationCode()"
                        >Reenviar código</a
                    >
                    de verificação
                </p>
            </div>
            <div
                fxLayout="column"
                fxLayoutGap="5%"
                fxLayoutAlign="center center"
            >
                <div fxLayout="row" fxLayoutGap="10%">
                    <div>
                        <i class="pi pi-clock" style="font-size: 1.3rem"></i>
                    </div>
                    <div>{{ formatMinutes }}:{{ formatSeconds }}</div>
                </div>
                <div class="progress-bar-verification-code">
                    <p-progressBar
                        [value]="progress"
                        [showValue]="false"
                    ></p-progressBar>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog
    [(visible)]="isVerify"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
>
    <div fxLayout="column" fxLayoutGap="15%" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15%">
            <div>
                <h3 class="m-0">Conta verificada!</h3>
            </div>
            <div>
                <i
                    class="pi pi-verified"
                    style="font-size: 9.3rem; color: #049532"
                ></i>
            </div>
            <div>
                <h3 class="m-0">Realize seu Login</h3>
            </div>
        </div>
        <div>
            <button
                pButton
                label="Ir para login"
                styleClass="buy-button"
                (click)="goToLogin()"
            ></button>
        </div>
    </div>
</p-dialog>
