<div fxLayoutAlign="center" style="margin-top: 2rem">
    <div fxFlex="95%" class="card" style="padding: 2%">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex fxLayoutAlign="center">
                <button
                    pButton
                    type="button"
                    styleClass="step-button"
                    (click)="showForm(0)"
                >
                    <i
                        class="pi pi-truck"
                        style="font-size: 2rem; margin-left: -25%"
                    ></i>
                </button>
            </div>
            <div fxFlex="50%"><hr /></div>
            <div fxFlex fxLayoutAlign="center">
                <button
                    pButton
                    type="button"
                    styleClass="step-button"
                    (click)="showForm(1)"
                >
                    <i
                        class="pi pi-credit-card"
                        style="font-size: 2rem; margin-left: -25%"
                    ></i>
                </button>
            </div>
            <div fxFlex="50%"><hr /></div>
            <div fxFlex fxLayoutAlign="center">
                <button
                    pButton
                    type="button"
                    styleClass="step-button"
                    (click)="showForm(2)"
                >
                    <i
                        class="pi pi-wallet"
                        style="font-size: 2rem; margin-left: -25%"
                    ></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div fxLayoutAlign="center">
    <div fxFlex="95%" class="card" style="padding: 2%">
        <div *ngIf="stepClient === 0">
            <app-first-purchase-steps></app-first-purchase-steps>
        </div>
        <div *ngIf="stepClient === 1">
            <app-second-purchase-steps></app-second-purchase-steps>
        </div>
        <div *ngIf="stepClient === 2">
            <app-third-purchase-steps></app-third-purchase-steps>
        </div>
    </div>
</div>
