<div fxLayoutAlign="center" style="margin-top: 2rem">
    <div fxFlex="95%" class="card" style="padding: 2%">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex fxLayoutAlign="center">
                <button
                    id="{{ listSteps[0].type }}"
                    pButton
                    type="button"
                    [ngClass]="classButtonSteps(0)"
                    (click)="showSelectedStep(0)"
                >
                    <i class="pi pi-truck"></i>
                </button>
            </div>
            <div fxFlex="50%"><hr [ngClass]="classLineSteps(0)" /></div>
            <div fxFlex fxLayoutAlign="center">
                <button
                    id="{{ listSteps[1].type }}"
                    pButton
                    type="button"
                    [ngClass]="classButtonSteps(1)"
                    (click)="showSelectedStep(1)"
                    [disabled]="!listSteps[1].isValid"
                >
                    <i class="pi pi-credit-card"></i>
                </button>
            </div>
            <div fxFlex="50%"><hr [ngClass]="classLineSteps(1)" /></div>
            <div fxFlex fxLayoutAlign="center">
                <button
                    id="{{ listSteps[2].type }}"
                    pButton
                    type="button"
                    [ngClass]="classButtonSteps(2)"
                    (click)="showSelectedStep(2)"
                    [disabled]="!listSteps[2].isValid"
                >
                    <i class="pi pi-wallet"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div fxLayoutAlign="center">
    <div fxFlex="95%" class="card" style="padding: 2%">
        <div *ngIf="stepClient === 0">
            <app-first-purchase-steps
                (isValid)="updateFinishStep($event)"
            ></app-first-purchase-steps>
        </div>
        <div *ngIf="stepClient === 1">
            <app-second-purchase-steps
                (isValid)="updateFinishStep($event)"
            ></app-second-purchase-steps>
        </div>
        <div *ngIf="stepClient === 2">
            <app-third-purchase-steps></app-third-purchase-steps>
        </div>
    </div>
</div>
