hr{
    height: 100%;
}


button[styleClass="step-button"]{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    background: #ff86867a;
    border: 1px solid #ff86867a;
    color: white;
}


