<div fxLayoutAlign="center center" class="forgot-password-page">
    <div
        class="card"
        style="padding: 5%"
        fxFlex.xl="20%"
        fxFlex.lg="38%"
        fxFlex.sm="65%"
        fxFlex.xs="80%"
        fxLayout="column"
        fxLayoutGap="10%"
    >
        <div fxLayoutAlign="center"><h3>Redefinir senha</h3></div>
        <div fxLayout="column" fxLayoutGap="10%">
            <p>
                Para redefinir sua senha, é necessario uma verificação. Um
                código será gerado e enviado para seu e-mail.
            </p>
        </div>

        <form
            class="user-login"
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="onSubmitEmail()"
        >
            <div
                fxLayoutGap="3%"
                fxFlex="100%"
                fxLayout="column"
                fxLayoutAlign="center center"
            >
                <div fxLayout="column">
                    <div>
                        <label for="email" class="block">E-mail</label>
                    </div>
                    <div fxFlex="100%">
                        <input
                            id="email"
                            type="email"
                            aria-describedby="email-help"
                            formControlName="email"
                            [(ngModel)]="email"
                            pInputText
                            required
                        />
                    </div>
                    <div>
                        <small
                            id="email-help"
                            class="p-error blo"
                            *ngIf="submitted && formControl.email.errors"
                            >Informe seu e-mail</small
                        >
                    </div>
                </div>
                <div>
                    <p-messages></p-messages>
                </div>
                <div class="send-button">
                    <button
                        pButton
                        type="submit"
                        label="Enviar"
                        styleClass="buy-button"
                    ></button>
                </div>
            </div>
        </form>
    </div>
</div>
