<div class="navbar" fxLayout="row">
    <div fxFlex="50%">
        <div class="navbar-logo">
            <a (click)="navigate('home')">
                <img
                    class="navbar-logo-img"
                    src="../assets/layout/images/dalva-logo-01.png"
                    alt=""
                />
            </a>
        </div>
    </div>

    <div fxFlex="50%" fxLayout="row" fxLayoutAlign="end center">
        <div style="margin-right: 6%">
            <i
                (click)="navigate('cart')"
                class="card pi pi-shopping-cart mr-4 p-text-secondary"
                pBadge
                style="font-size: 2rem"
                [value]="totalItemsCart"
                severity="danger"
                styleClass="navbar-cart-icon"
            ></i>
        </div>

        <div
            *ngIf="!showMobileButton"
            fxLayout="row"
            fxLayoutGap="5%"
            style="margin-right: 25%"
        >
            <div>
                <button
                    (click)="navigate('products')"
                    pButton
                    type="button"
                    label="Produtos"
                    class="card p-button-raised p-button-rounded"
                    styleClass="navbar-button"
                ></button>
            </div>
            <div>
                <button
                    (click)="navigate('contact')"
                    pButton
                    type="button"
                    label="Contato"
                    class="card p-button-raised p-button-rounded"
                    styleClass="navbar-button"
                ></button>
            </div>
            <div>
                <button
                    (click)="navigate('about')"
                    pButton
                    type="button"
                    label="Sobre"
                    class="card p-button-raised p-button-rounded"
                    styleClass="navbar-button"
                ></button>
            </div>
        </div>

        <div>
            <div *ngIf="showMobileButton">
                <app-mobile-button-menu></app-mobile-button-menu>
            </div>
        </div>
    </div>
</div>
<!--    <div>-->
<!--        <button-->
<!--            (click)="sidebarVisible = true"-->
<!--            pButton-->
<!--            pRipple-->
<!--            type="button"-->
<!--            icon="pi pi-bars"-->
<!--            class="p-button-rounded"-->
<!--        ></button>-->
<!--        <p-sidebar-->
<!--            icon="pi pi-cart-plus"-->
<!--            [baseZIndex]="5000"-->
<!--            [(visible)]="sidebarVisible"-->
<!--        >-->
<!--            <div-->
<!--                fxLayout="column"-->
<!--                fxLayoutGap="5%"-->
<!--                fxLayoutAlign="space-around start"-->
<!--            >-->
<!--                <div>-->
<!--                    <button-->
<!--                        (click)="sidebarToggle('home')"-->
<!--                        pButton-->
<!--                        type="button"-->
<!--                        label="Home"-->
<!--                        class="p-button-raised p-button-rounded"-->
<!--                    ></button>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <button-->
<!--                        (click)="sidebarToggle('products')"-->
<!--                        pButton-->
<!--                        type="button"-->
<!--                        label="Produtos"-->
<!--                        class="p-button-raised p-button-rounded"-->
<!--                    ></button>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <button-->
<!--                        (click)="sidebarToggle('contact')"-->
<!--                        pButton-->
<!--                        type="button"-->
<!--                        label="Contato"-->
<!--                        class="p-button-raised p-button-rounded"-->
<!--                    ></button>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <button-->
<!--                        (click)="sidebarToggle('about')"-->
<!--                        pButton-->
<!--                        type="button"-->
<!--                        label="Sobre"-->
<!--                        class="p-button-raised p-button-rounded"-->
<!--                    ></button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </p-sidebar>-->
<!--    </div>-->

<!--
    <button
        (click)="sidebarToggle('buttonMenu')"
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
    </button>
    -->

<!--
<nav class="navbar navbar-expand-lg" color-on-scroll="500">
<div class="container">
    <a class="navbar-brand" style="cursor: pointer;" (click)="sidebarToggle('home')">
        <img class="navbar-logo" src="../assets/layout/images/dalva-logo-01.png" alt="">
    </a>
    <button (click)="sidebarToggle('buttonMenu')" class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
    </button>
    <div fxLayout="row"  fxFlex="100%" fxFlex.gt-sm="40%" fxHide.md fxLayoutAlign="space-between end" class="navbar-collapse" id="navbarToggler">
        <ul fxFlex="100%" fxFlex.gt-sm="40%" class="navbar-nav ml-auto" >

            <li class="nav-item navbar-item-li" >
                <a class="card nav-link navbar-item-click" (click)="sidebarToggle('products')" >Produtos</a>
            </li>

            <li class="nav-item navbar-item-li" >
                <a class="card nav-link navbar-item-click" (click)="sidebarToggle('contact')" >Contato</a>
            </li>

            <li class="nav-item navbar-item-media">
                <a class="nav-link" rel="tooltip" title="Nos siga no Instagram" data-placement="bottom" href="https://instagram.com/construtoracoinf?utm_medium=copy_link" target="_blank">
                    <i class="fa fa-instagram"></i>
                    <p class="d-lg-none">Instagram</p>
                </a>
            </li>

            <li class="nav-item navbar-item-media">
                <a class="nav-link" rel="tooltip" title="Fale conosco no Whats App" data-placement="bottom" href="https://wa.me/5561985609035" target="_blank">
                    <i class="fa fa-whatsapp"></i>
                    <p class="d-lg-none">Whats App</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</nav>
-->
