<div fxLayoutAlign="center center" class="login-page">
    <div
        class="card"
        style="padding: 5%"
        fxFlex.xl="20%"
        fxFlex.lg="38%"
        fxFlex.sm="65%"
        fxFlex.xs="80%"
        fxLayout="column"
        fxLayoutGap="5%"
    >
        <div fxLayoutAlign="center"><h3>Login</h3></div>
        <div fxLayoutGap="5%" fxFlex="80%" class="card-login">
            <app-login-form (login)="setNewLoginData($event)"></app-login-form>
        </div>
        <div>
            <p-messages></p-messages>
        </div>
        <div fxFlex="20%" fxLayoutAlign="center center" fxLayout="column">
            <div>
                <p>Novo por aqui?</p>
            </div>
            <div>
                <button
                    pButton
                    class="register-client-button"
                    label="Registrar-se"
                    (click)="navigate('register-client')"
                ></button>
            </div>
        </div>
    </div>
</div>
