.login-page{
    height: 850px;
}

@media (max-width: 768px) {
    .login-page{
        height: 738px;
    }
}

.card-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-client-button{
    width:232px
}
