.login-page{
    height: 1000px;
}

@media (max-width: 768px) {
    .login-page{
        height: 768px;
    }
}

.card-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-client-button{
    width:232px
}
