<div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="5%"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.xs="space-between start"
    style="padding: 2%"
>
    <div
        class="card"
        fxFlex.xl="20%"
        fxFlex.lg="25%"
        fxFlex.sm="30%"
        fxFlex.xs="100%"
    >
        <p>TESTE</p>
    </div>
    <div
        class="card"
        fxFlex.xl="80%"
        fxFlex.lg="60%"
        fxFlex.sm="70%"
        fxFlex.xs="100%"
    >
        <div
            fxLayout="row wrap"
            fxLayoutGap="3%"
            fxLayoutAlign="start center"
            style="margin-left: 5%; margin-top: 3%"
        >
            <div *ngFor="let product of products">
                <div class="card" styleClass="card-item">
                    <p-card
                        header="{{ product.header }}"
                        subheader="{{ product.knitted }}"
                        [style]="{ width: '270px', 'box-shadow': 'none' }"
                    >
                        <ng-template pTemplate="header">
                            <p-image
                                src="../../assets/layout/products/{{
                                    product.images[0]
                                }}"
                                alt="{{ product.header }}"
                                width="100%"
                                height="50%"
                            >
                            </p-image>
                        </ng-template>
                        <div>
                            <div>
                                <p>Total Disponivel: {{ product.quantity }}</p>
                            </div>
                            <div>
                                <p>{{ product.price | currency : "R$ " }}</p>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">
                            <button
                                pButton
                                type="button"
                                label="Ver produto"
                                styleClass="see-product-button"
                                (click)="navigateToProduct(product)"
                            ></button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>
