
div[styleClass="card-item"] {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

div[styleClass="card-item"]:hover {
    box-shadow:0 6px 14px 10px #ff86867a, 0 0px 5px #ff86867a, 0 1px 3px #ff86867a

}

button[styleClass="see-product-button"]{
    width: 100%;
}

button[styleClass="see-product-button"]:hover{
    color: #ff7171c5;
    border: 3px solid #ff7171c5;
}
