<div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="2%"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.xs="space-between start"
    style="padding: 2%"
>
    <div
        class="card"
        style="padding: 12px"
        fxLayout="column"
        fxFlex.xl="20%"
        fxFlex.lg="37%"
        fxFlex.sm="30%"
        fxFlex.xs="100%"
    >
        <div fxLayoutAlign="center" fxLayout="column" fxLayoutGap="5%">
            <div fxLayoutAlign="center"><h3>Filtrar</h3></div>
            <div *ngIf="availableFilter" fxLayoutAlign="center">
                <div
                    fxFlex="100%"
                    fxLayout="row wrap"
                    fxLayoutGap="2%"
                    fxLayoutAlign="start center"
                >
                    <div
                        *ngFor="
                            let avaSize of availableFilter.availableSize;
                            let index = index
                        "
                    >
                        <button
                            id="filter-size-{{ index }}"
                            pButton
                            type="button"
                            label="{{ avaSize.size }}"
                            [ngClass]="{
                                'filter-product-button-selected':
                                    avaSize.selected
                            }"
                            (click)="
                                classSelectFilter(
                                    avaSize,
                                    index,
                                    '#filter-size'
                                )
                            "
                            styleClass="filter-product-size"
                        ></button>
                    </div>
                </div>
            </div>
            <div *ngIf="availableFilter" fxLayoutAlign="center">
                <div
                    fxFlex="100%"
                    fxLayout="row wrap"
                    fxLayoutGap="3%"
                    fxLayoutAlign="start center"
                >
                    <div
                        *ngFor="
                            let avaType of availableFilter.availableTypes;
                            let index = index
                        "
                    >
                        <button
                            id="filter-button-{{ index }}"
                            pButton
                            type="button"
                            label="{{ avaType.type }}"
                            [ngClass]="{
                                'filter-product-button-selected':
                                    avaType.selected
                            }"
                            (click)="
                                classSelectFilter(
                                    avaType,
                                    index,
                                    '#filter-button'
                                )
                            "
                            styleClass="filter-product-button"
                        ></button>
                    </div>
                </div>
            </div>
            <div *ngIf="availableFilter" fxLayoutAlign="center">
                <div
                    fxFlex="100%"
                    fxLayout="row wrap"
                    fxLayoutGap="3%"
                    fxLayoutAlign="start center"
                >
                    <div
                        *ngFor="
                            let avaColor of availableFilter.availableColors;
                            let index = index
                        "
                    >
                        <div
                            id="filter-color-{{ index }}"
                            [ngClass]="{
                                'filter-product-color-selected':
                                    avaColor.selected
                            }"
                            class="products-color"
                            (click)="
                                classSelectFilter(
                                    avaColor,
                                    index,
                                    '#filter-color'
                                )
                            "
                        >
                            <p-colorPicker
                                [(ngModel)]="avaColor.color"
                                [disabled]="true"
                            ></p-colorPicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="card"
        fxFlex.xl="80%"
        fxFlex.lg="60%"
        fxFlex.sm="70%"
        fxFlex.xs="100%"
    >
        <div
            fxLayout="row wrap"
            fxLayoutGap="3%"
            fxLayoutAlign="start center"
            style="margin-left: 5%; margin-top: 3%"
        >
            <div *ngFor="let product of products">
                <div class="card" styleClass="card-item">
                    <p-card
                        header="{{ product.header }}"
                        subheader="{{ product.knitted }}"
                        [style]="{ width: '270px', 'box-shadow': 'none' }"
                    >
                        <ng-template pTemplate="header">
                            <p-galleria
                                [(value)]="product.images"
                                [showIndicators]="true"
                                [showThumbnails]="false"
                            >
                                <ng-template pTemplate="item" let-item>
                                    <img
                                        [src]="item.url"
                                        style="width: 100%; display: block"
                                    />
                                </ng-template>
                            </p-galleria>
                        </ng-template>
                        <div>
                            <div>
                                <p>Total Disponivel: {{ product.quantity }}</p>
                            </div>
                            <div>
                                <p>{{ product.price | currency : "R$ " }}</p>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">
                            <button
                                pButton
                                type="button"
                                label="Ver produto"
                                styleClass="see-product-button"
                                (click)="navigateToProduct(product)"
                            ></button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>
