
div[styleClass="card-item"] {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

div[styleClass="card-item"]:hover {
    box-shadow:0 6px 14px 10px #ff86867a, 0 0px 5px #ff86867a, 0 1px 3px #ff86867a

}

button[styleClass="see-product-button"]{
    width: 100%;
}

button[styleClass="see-product-button"]:hover{
    color: #ff7171c5;
    border: 3px solid #ff7171c5;
}

button[styleClass="filter-product-button"]{
    //width: 25%;
    font-size: 12px;
    background: #f9f9f9;
    border: 1px solid #ff7171c5;
    color: #ff7171c5;
}

.filter-product-button-selected{
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff7171c5, 0 1px 2px #000;

}

.products-color{
    cursor: pointer;
}
.products-color:hover{
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff7171c5, 0 1px 2px #000;
    border-radius: 20%;
}

.filter-product-color-selected{
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff7171c5, 0 1px 2px #000;
    border-radius: 20%;
}

button[styleClass="filter-product-size"]{
    margin-top: 10px;
    font-size: 8px;
    background: #f9f9f9;
    border: 1px solid #ff7171c5;
    color: #ff7171c5;
}

:host ::ng-deep {
    .p-colorpicker-preview{
        opacity: 1;
    }
    .p-element filter-product-button-selected p-button p-component{
        border: 3px solid #ff7171c5;
        border-radius: 20%;
    }
}
