
:host ::ng-deep {

    hr{
        border-color:red;
    }
    // BUTTONS
    .p-button {
        background: #ff86867a;
        border: 1px solid #ff86867a;
        color: white;
    }

    .p-button:focus {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff7171c5, 0 1px 2px #000;
    }

    .p-button:hover {
        background: #ff71712d;
        border: 1px solid #ff7171c5;
        color: #ff7171c5;
    }
    .p-button.p-highlight {
        background: #ff7171c5;
        border: 1px solid #ff86867a;
        color: white;
    }

    .p-button.p-highlight:hover {
        background: #ff71712d;
        border: 3px solid #ff7171c5;
        color: #ff7171c5;
    }

    button[styleClass="buy-button"] {
        width: 100%;
        background: #22C558B5;

    }

    button[styleClass="buy-button"]:hover {
        background: #22C55E;
        border: 1px solid #22C55E;
        color: white;
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #22C55E, 0 1px 2px #000;
    }

    button[styleClass="buy-button"]:focus {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #22C55E, 0 1px 2px #000;
    }


    // INPUTS
    .p-inputnumber-buttons-vertical {
        width: 4rem;
    }
    .p-inputnumber-buttons-vertical .p-button.p-inputnumber-button-up {
        background: #ff86867a;
        border-color: #ff86867a;
    }

    .p-inputnumber-buttons-vertical .p-button.p-inputnumber-button-up:hover {
        background: #ff71712d;
        border: 1px solid #ff7171c5;
        color: #ff7171c5;
    }

    .p-inputnumber-buttons-vertical .p-button.p-inputnumber-button-down {
        background: #ff86867a;
        border-color: #ff86867a;
    }

    .p-inputnumber-buttons-vertical .p-button.p-inputnumber-button-down:hover {
        background: #ff71712d;
        border: 1px solid #ff7171c5;
        color: #ff7171c5;
    }

    .p-inputtext:enabled:focus {
        border-color: #ff86867a;
        box-shadow: 0 0 0 0.1rem #ff7171c5;
    }
    .p-inputtext:enabled:hover {
        border-color: #ff86867a;
    }

    // SELECT BUTTONS
    .p-selectbutton {
        color: #ff86867a;
        // border-color: #ff86867a;
    }
    .p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
        background: #ff71712d;
        border: 1px solid #ff7171c5;
        color: #ff7171c5;
    }

    button[styleClass="next-step-button"]{
        height: 3rem;
        width: 10rem;
        background: #ff86867a;
        border: 1px solid #ff86867a;
        color: white;
    }

    .icon-next-step{
        font-size: 3rem;
        margin-left: 30%;
    }

    //CECK BOX
    .p-checkbox .p-checkbox-box.p-highlight {
        border-color: #ff86867a;
        background: #ff86867a;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
        background: #ff86867a;
        border: 1px solid #ff7171c5;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus{
        box-shadow: 0 0 0 0.2rem #ff86867a;
        border-color: #ff86867a;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover{
        border-color: #ff7171c5;
    }

    .p-toast-top-right {
        position: absolute;
        top: 0;
        right: 0;
    }

    .p-progressbar .p-progressbar-value{
        background: #ff7171c5
    }
}

