<div class="container">
    <h2 class="header-home">RE Confecções</h2>
</div>
<div class="container">
    <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">

        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="mb-3">
                        <img src="../../assets/layout/home/{{product.image}}" [alt]="product.name" class="product-image" />
                    </div>
                    
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>

<div class="container">
    <p>
    Descubra nossa ampla seleção de camisetas de alta qualidade produzidas pela RE Confecções! Nós oferecemos uma variedade de modelos, incluindo camisetas lisas sem estampa, confeccionadas com os melhores tecidos disponíveis no mercado.
    Nossa linha de camisetas lisas é produzida com 100% algodão de primeira qualidade, garantindo um tecido macio e confortável ao toque. Todas as nossas camisetas são produzidas com os mais altos padrões de qualidade e cuidado no processo de fabricação, garantindo durabilidade e resistência ao desgaste.
    Com diversos tamanhos e cores disponíveis, você encontrará a camiseta perfeita para seu estilo. E, como todas as nossas camisetas, elas são fáceis de cuidar, podendo ser lavadas à máquina e mantendo sua forma e cor após cada lavagem.
    Aproveite nossos preços competitivos e compre agora mesmo sua camiseta lisa sem estampa produzida pela RE Confecções. Tenha a certeza de que você está adquirindo um produto de qualidade superior que irá atender às suas expectativas.
    </p>
</div>

<div class="container">
    <p>
        A RE Confecções é uma empresa especializada na confecção de camisetas de qualidade há mais de dez anos. Seu compromisso é com a excelência em todos os aspectos dos seus produtos e se destaca no mercado de vestuário como uma das principais marcas do segmento.
        Investiu em tecnologia de ponta e equipamentos modernos e inovadores para a produção de suas camisetas. Além disso, possui uma equipe de profissionais altamente capacitados, que trabalham com dedicação e paixão pelo que fazem.
        As camisetas da RE Confecções são de qualidade indiscutível. Desde a seleção dos melhores tecidos, passando pelo corte e costura, até a finalização e acabamento das peças, tudo é feito com o máximo cuidado e atenção aos detalhes. Isso garante que as camisetas tenham um caimento perfeito, sejam confortáveis e tenham uma durabilidade excepcional.
        A empresa preza pelo bom atendimento aos seus clientes, buscando sempre entender as necessidades e demandas de cada um, oferecendo soluções personalizadas e eficientes.
        Com uma ampla variedade de modelos, estilos e cores, a RE Confecções tem opções para todos os gostos e estilos, desde camisetas básicas até as mais elaboradas e sofisticadas.
        Se você procura por camisetas de qualidade, conforto e estilo, conte com a RE Confecções. Com uma história de sucesso e uma reputação impecável no mercado, é referência no setor de vestuário e certamente irá superar suas expectativas.
    </p>
</div>