<div
    fxLayout="row"
    fxLayoutAlign="center top"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="5%"
    style="padding: 5%"
>
    <div fxFlex.xl="85%" fxFlex.lg="67%" fxFlex.md="57%" fxLayout="column">
        <div *ngIf="!isShowItems">
            <p>Carrinho vazio</p>
        </div>

        <div *ngIf="isShowItems">
            <div fxLayoutAlign="end start" style="padding: 2%">
                <p-button
                    label="Remover"
                    class="p-button-sm"
                    (click)="removeSelectedItems()"
                ></p-button>
            </div>
            <div>
                <p-table
                    [value]="cart"
                    [scrollable]="true"
                    scrollHeight="520px"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox
                                    (click)="selectAllItems()"
                                ></p-tableHeaderCheckbox>
                            </th>
                            <th>Produto</th>
                            <th>Tamanho</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>
                                <p-tableCheckbox
                                    [value]="item"
                                    (click)="selectItem(item)"
                                ></p-tableCheckbox>
                            </td>
                            <td>
                                <div>
                                    <p-image
                                        src="../../assets/layout/products/{{
                                            getImageProduct(item.product)
                                        }}"
                                        alt="{{ item.product.name }}"
                                        width="100%"
                                        [preview]="true"
                                    >
                                    </p-image>
                                </div>
                            </td>
                            <td>{{ item.selectedSize.name }}</td>
                            <td>{{ item.quantitySelected }}</td>
                            <td>{{ item.value | currency : "R$" }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div
        fxFlex.xl="30%"
        fxFlex.lg="40%"
        fxFlex.sm="20%"
        fxLayoutGap.sm="5%"
        fxLayout="column"
        class="card"
        style="height: 100%; padding: 2%"
    >
        <div>
            <h2>Resumo</h2>
        </div>
        <hr />
        <div fxFlex="20%" fxLayout="column" style="padding: 1rem">
            <app-selected-freight-option-component
                [selected]="selectedFreight"
                (onRowSelect)="setSelectedFreightFromEvent($event)"
            ></app-selected-freight-option-component>
        </div>
        <div
            *ngIf="selectedFreight"
            fxFlex="30%"
            fxLayout="column"
            fxLayoutAlign="space-between left"
            fxLayoutGap="2%"
        >
            <div>
                <h5>Dados de entrega:</h5>
            </div>
            <div class="freightData">
                <div>
                    <p>Envio: {{ selectedFreight.name }}</p>
                </div>
                <div>
                    <p>Tempo: {{ selectedFreight.deliveryTime }} dias</p>
                </div>
                <div>
                    <p>Previsão: {{ selectedFreight.arrivalDay }}</p>
                </div>
                <div>
                    <p>Valor: {{ selectedFreight.value | currency : "R$ " }}</p>
                </div>
            </div>
        </div>
        <hr />
        <div
            fxLayout="column"
            fxLayoutAlign="space-between left"
            fxLayoutGap="3%"
        >
            <div>
                <h4>Total: {{ totalValue | currency : "R$ " }}</h4>
            </div>
            <div>
                <button
                    pButton
                    type="button"
                    label="Fechar pedido"
                    styleClass="buy-button"
                    (click)="goPurchaseSteps()"
                ></button>
            </div>
        </div>
    </div>
</div>
