<p-toast position="top-right"></p-toast>

<div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="3%"
    style="padding: 3%"
>
    <div fxFlex="50%" fxFlex.md="70%" fxFlex.sm="100%" fxFlex.xs="70%">
        <p-galleria
            [(value)]="product.images"
            [responsiveOptions]="responsiveOptions"
            [numVisible]="5"
            [circular]="true"
            [showItemNavigators]="true"
            [showItemNavigatorsOnHover]="true"
        >
            <ng-template pTemplate="item" let-item>
                <div
                    fxFlex="80%"
                    fxFlex.md="70%"
                    fxFlex.sm="80%"
                    fxFlex.xs="60%"
                    fxLayoutAlign="space-around center"
                >
                    <p-image
                        src="../../assets/layout/products/{{ item }}"
                        alt="{{ product.name }}"
                        width="100%"
                        height="50%"
                        [preview]="true"
                    >
                    </p-image>
                </div>
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div
                    fxFlex="60%"
                    fxFlex.sm="60%"
                    fxFlex.xs="60%"
                    class="grid grid-nogutter justify-content-center"
                >
                    <p-image
                        src="../../assets/layout/products/{{ item }}"
                        alt="{{ product.name }}"
                        width="100%"
                    >
                    </p-image>
                </div>
            </ng-template>
        </p-galleria>
    </div>

    <div
        fxFlex.xl="20%"
        fxFlex.lg="40%"
        fxFlex.sm="20%"
        fxLayout="column"
        fxLayoutGap="3%"
        fxLayoutGap.xs="5%"
        fxLayoutGap.sm="5%"
        class="card"
        style="height: 100%"
    >
        <div fxFlex="15%" class="container" fxLayoutAlign="center">
            <h3>{{ product.description }}</h3>
        </div>
        <div fxFlex="10%" fxFlex.xs="80%" fxLayoutAlign="space-around center">
            <p-selectButton
                [options]="sizes"
                [(ngModel)]="selectedSize"
                optionLabel="name"
            >
            </p-selectButton>
        </div>
        <div fxFlex="35%" fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="column">
                <div fxLayoutAlign="center">
                    <span>Total disponivel</span>
                </div>
                <div>
                    <p-knob
                        [(ngModel)]="product.quantity"
                        valueColor="#ff8686"
                        disabled="true"
                    ></p-knob>
                </div>
            </div>
            <div>
                <p-inputNumber
                    [(ngModel)]="quantitySelected"
                    [min]="1"
                    [max]="product.quantity"
                    [showButtons]="true"
                    buttonLayout="vertical"
                    spinnerMode="vertical"
                    inputId="vertical"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    (onInput)="calculatePrice()"
                    (onBlur)="calculatePrice()"
                >
                </p-inputNumber>
            </div>
        </div>
        <div fxFlex="20%" fxLayout="column" style="padding: 1rem">
            <app-selected-freight-option-component
                [selected]="selectedFreight"
                (onRowSelect)="setSelectedFreight($event)"
            ></app-selected-freight-option-component>
        </div>
        <div
            fxFlex="20%"
            fxLayout="column"
            style="padding: 1rem"
            fxLayoutGap="3%"
        >
            <div
                fxLayout="column"
                fxLayoutAlign="space-between left"
                fxLayoutGap="2%"
            >
                <div *ngIf="selectedSize">
                    <p>
                        Item:
                        {{ quantitySelected }}
                        {{ selectedSize.name }} x
                        {{ product.price | currency : "R$ " }}
                    </p>
                </div>
                <div *ngIf="selectedFreight">
                    <p>
                        Entrega:
                        {{ selectedFreight.name }}
                        {{ selectedFreight.value | currency : "R$ " }},
                        {{ selectedFreight.deliveryTime }} dias,
                        {{ selectedFreight.arrivalDay }}
                    </p>
                </div>
                <div>
                    <p>Total: {{ totalValue | currency : "R$ " }}</p>
                </div>
            </div>
            <div fxLayoutAlign="center">
                <button
                    pButton
                    type="button"
                    label="Comprar"
                    styleClass="buy-button"
                    (click)="buyProduct()"
                ></button>
            </div>
        </div>
    </div>
</div>

<div class="card container" style="margin-top: 8%">
    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="2%">
        <div>
            <h5>CARACTERÍSTICAS</h5>
            <p>Cor: {{ product.color }}</p>
            <p>Tecido: {{ product.knitted }}</p>
        </div>
        <div>
            <h5>DESCRIÇÃO</h5>
            <p>
                Produto de alta qualidade, macia ao toque e resistente ao uso
                diário. A cor preta é elegante e versátil, combinando com
                diferentes estilos e ocasiões. Além disso, sua modelagem
                clássica garante um caimento perfeito no corpo.
            </p>
        </div>
        <div>
            <p-image
                src="../../assets/layout/products/tabela-dimencoes.jpg"
                alt="Dimenções do produto"
                width="100%"
                [preview]="true"
            >
            </p-image>
        </div>
    </div>
</div>

<p-dialog
    [(visible)]="displayDialog"
    [breakpoints]="{ '960px': '85vw' }"
    [style]="{ width: '35vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="3%">
        <div fxLayout="row" fxLayoutAlign="center center">
            <p>Continuar comprando ou ir para o carrinho?</p>
        </div>
        <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="3%"
            fxFlex="20%"
        >
            <div>
                <button
                    pButton
                    type="button"
                    label="Continuar"
                    icon="pi pi-plus-circle"
                    class="p-button-sm"
                    (click)="navigateToProducts()"
                ></button>
            </div>
            <div>
                <button
                    pButton
                    type="button"
                    label="Carrinho"
                    icon="pi pi-shopping-cart"
                    class="p-button-sm"
                    (click)="navigateToCart()"
                ></button>
            </div>
        </div>
    </div>
</p-dialog>
